<div class="">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <button class="btn canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <i class="bi bi-list"></i>
      </button>

      <a *ngIf="isStart" class="navbar-brand b-0 h1" (click)="this.routerService.back()">
        Salakaimmo.com</a>

      <a *ngIf="!isStart" class="navbar-brand b-0 h1" (click)="this.routerService.back()"><i
          class="bi bi-arrow-left-circle-fill"></i> {{this.routerService.routeActive}} </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

          <li *ngIf="displaySearch==true && this.routerService.routeActive=='accueil'" class="recherche ">
            <a class=""><i class="bi bi-search"></i></a>
            <input type="text" placeholder="Rechercher un logement sur Salakaimmo.com ..." name="" />
          </li>
        </ul>
      </div>

      <a class="auth" *ngIf="isAuth==false" (click)="this.routerService.route('auth/sign-in')"><i
          class="bi bi-box-arrow-in-right"></i> Sign-in </a>
      <!-- <a  class="auth" *ngIf="isAuth" (click)="this.routerService.route('auth/sign-in')"><i class="bi bi-box-arrow-in-left"></i>
        Sign-out </a> -->
      <a *ngIf="isAuth==true" class="auth" (click)="this.routerService.route('article/new')"><i
          class="bi bi-box-arrow-in-left"></i>
        Publier </a>
    </div>

  </nav>
  <br />
  <br />


  <!-- ----------------------ofcanvas -------------------->
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-scroll="true" data-bs-backdrop="false"
    tabindex="900000" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- <div class="profil">
        <img class="picture-profil" src="../../../assets/profil.jpeg">
        <div class="name">
          <p class="nom">Dekel shoot</p>
          <span class="poste">Directeur de la digitalisation</span>
        </div>
      </div> -->
      <button class="btn " (click)="this.routerService.route('accueil')"
        [ngClass]="{'actives':rout == '/accueil'  || rout=='/'}"><i class="bi bi-house"></i> Accueil</button>
      <button class="btn" (click)="this.routerService.route('article/categories')"
        [ngClass]="{'actives':rout == '/categories'}"><i class="icon bi bi-card-list"></i>Catégories</button>
      <button class="btn" (click)="this.routerService.route('article/recherche')"
        [ngClass]="{'actives':rout == '/recherche'}"><i class="icon bi bi-search"></i>Recherche</button>
      <button class="btn" (click)="this.routerService.route('/article/new')"
        [ngClass]="{'actives':rout == '/article/new'}" *ngIf="isAuth"><i
          class="bi bi-upload"></i><span>Publier</span></button>
      <br>
      <button class="btn" (click)="this.routerService.route('/commentaire')"
        [ngClass]="{'actives':rout == '/commentaire'}"><i
          class="bi bi-chat-square-text"></i><span>Commentaires</span></button>
      <button class="btn" (click)="this.routerService.route('/contrats')" [ngClass]="{'actives':rout == '/contrats'}"><i
          class="bi bi-list-task"></i><span>Contrats</span></button>
      <button disabled class="btn"><i class="bi bi-box-arrow-in-right"></i><span>Diaspora</span></button>
      <button class="btn" (click)="this.routerService.route('/services')" [ngClass]="{'actives':rout == '/services'}"><i
          class="bi bi-box-arrow-in-right"></i><span>Services</span></button>
      <button class="btn" (click)="this.routerService.route('/apropos')" [ngClass]="{'actives':rout == '/apropos'}"><i
          class="bi bi-info"></i><span>Apropos</span></button>
      <button class="btn" (click)="this.routerService.route('/contacts')" [ngClass]="{'actives':rout == '/contacts'}"><i
          class="bi bi-headset"></i><span>Contacts</span></button>
      <button class="btn" (click)="this.routerService.route('/agents')" [ngClass]="{'actives':rout == '/agents'}"><i
          class="bi bi-person-rolodex"></i><span>Agents</span></button>
      <button disabled class="btn"><i class="bi bi-envelope"></i><span>Newsletter</span></button>

      <button disabled class="btn"><i class="bi bi-card-checklist"></i><span>Conseils</span></button>
      <button disabled class="btn"><i class="bi bi-laptop"></i><span>Développeur</span></button>

    </div>
  </div>
  <!-- ------------------------menu---------------------------------- -->
  <app-menu-footer></app-menu-footer>


</div>