<section id="footer" class=" bg">
    <br>
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><a (click)="onSwitchCat('Appartement')">Appartement</a></h5>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><a (click)="onSwitchCat('Maison')">Maison</a></h5>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><a (click)="onSwitchCat('Chambre')">Chambre</a></h5>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><a (click)="onSwitchCat('Studio')">Studio</a></h5>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><a (click)="onSwitchCat('Terrain')">Terrain</a></h5>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5><a (click)="onSwitchCat('Boutique')">Bureaux & Commerce</a></h5>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/salakaimmobilier"><i class="fa bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://wa.me/237698684872"><i class="fa bi-whatsapp"></i></a></li>
                    <!-- <li class="list-inline-item"><a ><i class="fa bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a ><i class="fa bi-instagram"></i></a></li> -->
                    <li class="list-inline-item"><a href="mailto:etablissementsalaka@gmail.com"><i class="fa bi-google"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a routerLink="/accueil"> salakaimmo.com</a></u> est société d'experts dans la prestation des services immobiliers dont la direction générale est basé à Acacia Biyem-Assi Yaoundé Cameroun</p>
                <p>Réalisé avec tout l'amour du monde par l'équipe Salaka .
                    Code sous licence MIT , docs CC BY 3.0 .
                    Actuellement v1.0
                </p>
                <p style="font-size: 13px;">Vous avez des questions? Appellez-nous 24/7!</p>
                <div><i class=" bi bi-headset" style="  color: white;"><a href="tel:+237620256677">(+237) 620256677</a></i></div>
                <div><i class=" bi bi-headset" style="  color: white;"><a href="tel:+237698684872">(+237) 698684872</a></i></div>
                <p>Made with love in Yaoundé by <u><a href="https://wa.me/237693034689"> Dekel Shoot</a></u> </p>
                <p class="h6">© All right Reversed. <a class="text-green ml-2" >salakaimmo.com</a></p>
            </div>
        </div>
    </div>
</section>
