<app-header-secondary route="Annonces"></app-header-secondary>
<br id="head">

<div class="container py-2">
  <!-- For Demo Purpose-->
  <header class="text-center mb-5">
    <h1 class="display-4 font-weight-bold">Apropos de salakaimmo.com</h1>
    <p class="font-italic text-muted mb-0">Quelques détails sur salakaimmo.com.</p>
  </header>
</div>

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Apropos de salakaimmo.com</span>
      </a>
    </header>

    <div class="row align-items-md-stretch">
      <div class="col-md-6 mb-2">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Description de la sociétéDescription de la société</h2>
          <p>Les services offerts par la société immobilière salaka sont:
            - Gestion et promotion immobilière ; Financement des projets immobiliers; Conseils et accompagnement ;
            Expertise et formation; Prestation de service; Import-export; BTP, Lotissement et aménagement des terrains
            urbains et ruraux; Agriculture et élevage. En plus généralement, toutes opérations industrielles,
            commerciales, ou financières, immobilières ou mobilières, se services de rattachant directement ou
            indirectement à l'objet social ou à tous autres objet similaires ou connexes.</p>
          <a [href]="hrefWa"><button class="btn btn-outline-secondary" type="button">Contacter nous</button></a>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Historique et évolution</h2>
          <p>SALAKA SARL U a été constitué le 03 juillet 2017 par un groupe de dix 06 Hommes dynamiques mené par M.
            BOMGNI POSSI MATHURIN après ses études a l'institut supérieur des sciences entreprises (ISSE) dont le siège
            est à PARIS..</p>
          <a [href]="hrefWa"><button class="btn btn-outline-secondary" type="button">Contacter nous</button></a>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>La mission de SALAKA IMMOBILIER</h2>
          <p>La mission de SALAKA IMMO est celle de promouvoir les belles constructions pour encourager le développement
            du Cameroun et d’améliorer les conditions socioéconomiques de ses membres à travers plusieurs activités dont
            le principal est l'entre médiation immobilière.</p>
          <a [href]="hrefWa"><button class="btn btn-outline-secondary" type="button">Contacter nous</button></a>
        </div>
      </div>


      <div class="col-md-6 mb-2">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Les activités de SALAKA IMMO.</h2>
          <p>Les activités de SALAKA IMMO sont liées aux services de l'immobilier. Parmit ses multiples services nous
            pouvons citer entre autres :
            · L'entremise immobilière : elle consiste pour SALAKA IMMO à intervenir soit pour un client qui veut louer
            ou
            acheter un immeuble, soit pour un propriétaire qui veut mettre en location ou vendre un immeuble. · Le suivi
            de l'immatriculation foncière : SALAKA IMMO viens au secours de toute personne désireuse d'avoir un titre
            foncier pour son immeuble à le faire au moindre cout et en temps réduit. · Le conseil foncier : SALAKA IMMO
            conseille ses usagers dans l'établissement des contrats immobiliers, les litiges fonciers, le partage de
            l'héritage foncier, etc.... Remarque : l'activité principale à SALAKA IMMO est l'entremise immobilière
            pouvant
            faire environ 75% de son activité.</p>
          <a [href]="hrefWa"><button class="btn btn-outline-secondary" type="button">Contacter nous</button></a>
        </div>
      </div>
    </div>
  </div>
</main>