<nav class="navbar navbar-dark fixed-top  bg-purple">
    <div class="container-fluid">
      <a (click)="route('accueil')" class="navbar-brand mb-0 h1">Salakaimmo.com</a>
      <form class="d-flex">
          <a (click)="route('search')" class="search" ><i class="bi bi-search"></i></a>
      </form>
    </div>
</nav>
<br id="head"><br>
<div class="Title">
  <h2 class="text-center">Nos services</h2>
</div>

<br>

<div class="cont">
  <button class="btn card">
    <div class="card-text">
      <h2>Gestion et promotion immobilière</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <button class="btn ">En savoir plus</button>
    <br>

  </button>
  <button class="btn card">
    <div class="card-text">
      <h2>BTP</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <button class="btn ">En savoir plus</button>
    <br>

  </button>
  <button class="btn card">
    <div class="card-text">
      <h2>Lotissement et aménagement des terrains urbains et ruraux</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <button class="btn ">En savoir plus</button>
    <br>

  </button>
  <button class="btn card">
    <div class="card-text">
      <h2> Financement des projets immobiliers</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <button class="btn ">En savoir plus</button>
    <br>

  </button>
  <button class="btn card">
    <div class="card-text">
      <h2>Conseils et accompagnement </h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <button class="btn ">En savoir plus</button>
    <br>

  </button>
  <button class="btn card">
    <div class="card-text">
      <h2>Expertise et formation</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <button class="btn ">En savoir plus</button>
    <br>

  </button>
  <button class="btn card">
    <div class="card-text">
      <h2>Prestation de service</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <p class="btn ">En savoir plus</p>
    <br>

  </button>

  <button class="btn card">
    <div class="card-text">
      <h2>Import-export</h2>
      <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
    </div>
    <p class="btn ">En savoir plus</p>
    <br>

  </button>

  


</div>


<br><br><br>


<div class="footer fixed-bottom">
  <button class="btn btn1"  (click)="route('accueil')"><i class="bi bi-house"></i><h6>Accueil</h6></button>
  <button class="btn btn2"(click)="route('sevices')"><i class="bi bi-card-list"></i><h6>Nos services</h6></button>
  <button class="btn btn3" (click)="route('menu')"><i class="bi bi-list"></i><h6>Menu</h6></button>
</div>
