<div class="container">
  <details>
    <summary>
      <div class="button">
        <i class="bi bi-sliders2"></i> Filtrer
      </div>
      <div class="details-modal-overlay"></div>
    </summary>
    <div class="details-modal" #modal>
      <div class="details-modal-close">
        <!-- <i class="bi bi-x-lg"></i> -->
        <button class="btn" (click)="apply()">Appliquer</button>
      </div>
      <div class="details-modal-title">
        <h1>Filtrer</h1>
      </div>
      <div [formGroup]="filterForm" (ngSubmit)="apply()" class="details-modal-content">
        <div class=" form-group form-floating mb-3">
          <select class=" form-select form-select-sm" style="height: 55px" aria-label="Floating label select example"
            formControlName="date">
            <option *ngFor="let date of date">{{date}}</option>
          </select>
          <label for="floatingSelect">Date</label>
        </div>
        <div class=" form-group form-floating mb-3">
          <select class=" form-select form-select-sm" style="height: 55px" aria-label="Floating label select example"
            formControlName="category">
            <option *ngFor="let category of category">{{category}}</option>
          </select>
          <label for="floatingSelect">Catégorie</label>
        </div>
        <div class=" form-group form-floating mb-3">
          <select class=" form-select form-select-sm" style="height: 55px" aria-label="Floating label select example"
            formControlName="quartier">
            <option *ngFor="let quartier of quartier">{{quartier}}</option>
          </select>
          <label for="floatingSelect">Quartier</label>
        </div>
        <div class=" form-group form-floating mb-3">
          <select class=" form-select form-select-sm" style="height: 55px" aria-label="Floating label select example"
            formControlName="prix">
            <option *ngFor="let prix of prix">{{prix}}</option>
          </select>
          <label for="floatingSelect">Prix</label>
        </div>
        <div class=" form-group form-floating mb-3">
          <select class=" form-select form-select-sm" style="height: 55px" aria-label="Floating label select example"
            formControlName="chambre">
            <option *ngFor="let chambre of chambre">{{chambre}}</option>
          </select>
          <label for="floatingSelect">Nombre de chambre</label>
        </div>
        <!-- <button class="btn" (click)="apply()">Appliquer</button> -->
      </div>
    </div>
  </details>
</div>
