<div id="head" class="head  col-md-8 order-md-1 col-lg-7 text-center text-md-start">
    <a (click)="onBack()"><i class="bi bi-arrow-left-square-fill"></i> </a>
    <span>About us</span>
</div>
<div class="Title">
    <h2 class="text-center">Apropos de SALAKA IMMO</h2>
</div>

<br>

<div class="container">
	<div class="row">
        <!-- Boxes de Acoes -->
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa bi bi-card-text"></i></div>
					<div class="info">
						<h3 class="title">Description de la société</h3>
						<p>
							Les services offerts par la société immobilière salaka sont: <br>
							- Gestion et promotion immobilière ; Financement des projets immobiliers; Conseils et accompagnement ; Expertise et formation; Prestation de service; Import-export; BTP, Lotissement et aménagement des terrains urbains et ruraux; Agriculture et élevage.
							En plus généralement, toutes opérations industrielles, commerciales, ou financières, immobilières ou mobilières, se services de rattachant directement ou indirectement à l'objet social ou à tous autres objet similaires ou connexes.
						</p>
						<div class="more">
							<a  title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>


        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="bi fa bi-clock"></i></div>
					<div class="info">
						<h3 class="title">Historique et évolution</h3>
    					<p>
                            SALAKA IMMO a été constitué le 03 juillet 2017 par un groupe de dix 06 Hommes dynamiques mené par M. NGATEU CHETCHUENG ELFRIED après ses études de droit à l’université de Yaoundé II (SOA).
						</p>
						<div class="more">
							<a  title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa bi bi-shield-shaded"></i></div>
					<div class="info">
						<h3 class="title">La mission de SALAKA IMMOBILIER</h3>
    					<p>
						La mission de SALAKA IMMO est celle de promouvoir les belles constructions pour encourager le développement du Cameroun et d’améliorer les conditions socioéconomiques de ses membres à travers plusieurs activités dont le principal est l'entre médiation immobilière.
						</p>
						<div class="more">
							<a title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa bi bi-calendar-event"></i></div>
					<div class="info">
						<h3 class="title">Les activités de SALAKA IMMO.</h3>
    					<p>
                            Les activités de SALAKA IMMO sont liées aux services de l'immobilier. Parmit ses multiples services nous pouvons citer entre autres : <br>
                            · L'entremise immobilière : elle consiste pour SALAKA IMMO à intervenir soit pour un client qui veut louer ou acheter un immeuble, soit pour un propriétaire qui veut mettre en location ou vendre un immeuble.
                            · Le suivi de l'immatriculation foncière : SALAKA IMMO viens au secours de toute personne désireuse d'avoir un titre foncier pour son immeuble à le faire au moindre cout et en temps réduit.
                            · Le conseil foncier : SALAKA IMMO conseille ses usagers dans l'établissement des contrats immobiliers, les litiges fonciers, le partage de l'héritage foncier, etc....
                            Remarque : l'activité principale à SALAKA IMMO est l'entremise immobilière pouvant faire environ 75% de son activité.

						</p>
						<div class="more">
							<a title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>


	</div>
</div>
