<div class="placeholder-all">
  <div class="cards web">
    <div class="card col-3" aria-hidden="true" *ngFor="let i of placeholder">
      <p class="card-text placeholder-glow image">
        <span class="placeholder col-12 bg-secondary"></span>
      </p>
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <p class="card-text placeholder-glow buton">
          <span class="placeholder col-4"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="cards mobile">
    <div class="card col-3" aria-hidden="true" *ngFor="let i of placeholder2">
      <p class="card-text placeholder-glow image">
        <span class="placeholder col-12 bg-secondary"></span>
      </p>
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-8"></span>
        </p>
        <p class="card-text placeholder-glow buton">
          <span class="placeholder col-4"></span>
        </p>
      </div>
    </div>
  </div>

</div>
