<div class="etapes container-fliuid">
  <div class="un etape">
    <div class="icons">
      <span class="icon-1"><i class="bi bi-1-circle"></i></span>
      <span class="icon-2"><i class="bi bi-search"></i></span>
    </div>
    <div class="description">
      <p class="texte">Trouvez le logement de votre choix sur notre plateforme</p>
    </div>
  </div>
  <div class="deux etape">
    <div class="icons">
      <span class="icon-1"><i class="bi bi-2-circle"></i></span>
      <span class="icon-2"><i class="bi bi-chat-left"></i></span>
    </div>
    <div class="description">
      <p class="texte">Échangez sur WhatsApp ou par appel avec l'un de nos agents pour prendre rendez-vous</p>
    </div>
  </div>
  <div class="trois etape">
    <div class="icons">
      <span class="icon-1"><i class="bi bi-3-circle"></i></span>
      <span class="icon-2"><i class="bi bi-currency-dollar"></i></span>
    </div>
    <div class="description">
      <p class="texte">La rémunération n'est versée que lorsque vous prenez le logement</p>
    </div>
  </div>
</div>
