a{
    text-decoration: none;
}
.body{

    background-color:whitesmoke;
}

@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
.mod{
    position: fixed; /* Stay in place */
    z-index: 4111; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background:whitesmoke;/* Fallback color */
    padding-top: 10%;

    .brand{
        font-family: 'MonteCarlo', cursive;
        font-weight: bold;
        font-size: 700%;
        color: #7952b3;
    }

    .loading{
        font-size: 10px;
    }

    .title{
        font-weight: bold;
        color: #7952b3;
        font-size: 150%;
    }

    .spinner{
        width: 3rem;
        height: 3rem;
        color: #7952b3;
    }

}

@media screen and (max-width: 720px) {
    .mod{
        padding-top: 30%;
    }
  }

  @media screen and (max-width: 500px) {
    .mod{
        padding-top: 30%;
    }
  }

  @media  screen and (max-width: 300px) {
    .mod{
        padding-top: 40%;
    }
  }


