<div class="head  col-md-8 order-md-1 col-lg-7 text-center text-md-start">
    <a (click)="onBack()"><i class="bi bi-arrow-left-square-fill"></i> </a>
    <span>Erreur 404</span> 
</div>
<br>
<div class="error">
    <i class="bi bi-emoji-frown-fill"></i>
    <p class="error-detail">Erreur 404</p>
    <p class="error-detail">Oups... Cette page n'existe pas!!!</p>
    <div class="error-recomentation">
        <p class="error-recomentation-detail color-danger">
            Désolé, Nous n'avons pas trouver cette page...
        </p>

        <p class="error-recomentation-proposition">Veillez vérifier l’orthographe ou retourner a l’accueil <a (click)="onBack()">ICI</a>.</p>
        <p class="redirection">Redirection dans {{time}} </p>
    </div>


    <br><br><br><br>
</div>
