<div class="card-horizontal btn">
  <div class="card-image">
    <p class="card-text placeholder-glow image">
      <span class="placeholder col-12 bg-secondary"></span>
    </p>
  </div>
  <div class="card-content">
    <p class="card-style card-title"><span class="placeholder col-12"></span></p>
    <!-- <p class="card-style card-category">{{ article.categorie }}</p> -->
    <p class="card-style card-lieu">
      <span class="placeholder col-6"></span>
    </p>

    <p class="card-style card-prix"><span class="placeholder col-4"></span></p>
  </div>
</div>