<app-header-secondary route="Services"></app-header-secondary>
<br id="head">


<div class="container py-2">
  <!-- For Demo Purpose-->
  <header class="text-center mb-5">
    <h1 class="display-4 font-weight-bold">Les services proposés par salakaimmo.com</h1>
    <p class="font-italic text-muted mb-0">Une liste de tous nos services.</p>
  </header>

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Services</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 purple">
          <i class="bi bi-kanban" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">Gestion et promotion immobiliere</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous

        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-building-fill-gear" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">BTP</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-rulers" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2"> Lotissement et amenagement des terrains
          urbains et ruraux</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-cash-stack" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2"> Financement des projets immobiliers</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-person-up" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">Conseils et accompanement</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-reception-4" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">Expertise et formation</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-bezier" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">Prestation de sevice</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-arrow-down-up" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">Import-export</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-2 mb-3">
          <i class="bi bi-egg" width="1em" height="1em"></i>
        </div>
        <h3 class="fs-2">Agriculture et élevage</h3>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p> -->
        <a [href]="hrefWa" class="icon-link d-inline-flex align-items-center">
          Contacter nous

        </a>
      </div>
    </div>
  </div>
</div>