/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f0ecf7;
}
@media screen and (min-width: 900px) {
  body{
      margin-left:20%;
      margin-right:20%;
  }

}
